<template lang="pug">
  .container
    FullInput(type="tel" placeholder="📮" :field.sync="postalCode" maxlength="7")
    p.address
      span(v-show="!isLoading") {{ address }}
      img.loading(v-show="isLoading" src="~/assets/images/loading.svg")
    BasicButton.submit(:disabled="!isValidPostalCode || isLoading" @click="onSubmit")
      span(v-show="!isCompleted") Submit
      span(v-show="isCompleted") Welcome
</template>

<script lang="ts">
import { Component, Provide, Prop, Vue, Watch } from 'nuxt-property-decorator';
import { Action } from 'vuex-class';
import { Audio } from '~/assets/scripts/Audio';
import BasicButton from '~/components/Atoms/Button/Basic.vue';
import FullInput from '~/components/Atoms/Input/Full.vue';

@Component({
  components: {
    BasicButton,
    FullInput
  }
})
export default class extends Vue {
  private audio: Audio;
  private error: Audio;

  @Provide() isCompleted = false;
  @Provide() isLoading = false;
  @Provide() isValidPostalCode = false;
  @Provide() postalCode = '';
  @Provide() address = 'Please enter your postal code.';

  @Action('weather/fetchWeather') fetchWeather;

  @Watch('postalCode')
  onChangePostalCode(val: string) {
    this.address = '---';

    if (/^\d{7}$/.test(val)) {
      this.isValidPostalCode = true;
    } else {
      this.isValidPostalCode = false;
    }
  }

  public mounted(): void {
    this.audio = new Audio('audio/decision.mp3');
    this.error = new Audio('audio/error.mp3');
  }

  onSubmit() {
    if (this.isCompleted) return;

    this.isLoading = true;
    this.fetchWeather(this.postalCode)
      .then(({ city }) => {
        this.audio.play();
        this.isCompleted = true;
        this.isLoading = false;
        this.address = city.name;

        setTimeout(() => {
          this.$emit('complete', this.postalCode);
        }, 1500);
      })
      .catch(() => {
        this.error.play();
        this.isLoading = false;
        this.address = 'City not found.';
      });
  }
}
</script>

<style scoped lang="stylus">
  .container
    align-items center
    background #352e2b
    bottom 0
    display flex
    flex-direction column
    justify-content center
    left 0
    position absolute
    right 0
    top 0
    z-index 200

  .address
    font-size 40px
    line-height 40px
    margin-top 40px
    overflow hidden
    text-align center
    text-overflow ellipsis
    white-space nowrap
    width: 80%

  .submit
    margin 60px 0 -100px

  .loading
    height: 18px
</style>
