<template lang="pug">
  .input
    input.field(:type="type" :placeholder="placeholder" :maxlength="maxlength" @input="onInput" :value="field")
    .border
</template>

<script lang="ts">
import { Component, Model, Prop, Provide, Vue, Watch } from 'nuxt-property-decorator';

@Component({})
export default class extends Vue {
  @Prop({ default: 'text' }) type: string;
  @Prop() placeholder: string;
  @Prop() field: string;
  @Prop() maxlength: number;

  public onInput(e): void {
    this.$emit('update:field', e.target.value);
  }
}
</script>

<style lang="stylus" scoped>
  .input
    &
      width: 720px
      border-bottom 2px solid rgba(#c7b5a8, .2)

    & > .border
      height 2px
      position relative
      width 100%

      &::before
        background: #c7b5a8
        content: ''
        display block
        height: 2px
        left 50%
        position absolute
        top 0
        transform: translateX(-50%)
        transition: width .2s ease
        width 0

    & > .field
      display block
      font-size 100px
      letter-spacing .2em
      padding .4em 0
      text-align center
      text-indent .2em
      width 100%

      &:focus + .border
        &::before
          width: 100%

</style>

