<template lang="pug">
  div(v-if="weatherList.length")
    WeatherInfo(
      v-for="{ dt, dt_txt, main, weather }, i in weatherList"
      v-show="timeIndex === i"
      :key="dt"
      :weather="weather[0]"
      :main="main"
      :city="city.name"
      :date="dt_txt"
    )
    WeeklyWeather(
      :weather-list="weatherList"
      :time-index="timeIndex"
    )
</template>

<script lang="ts">
import { Component, Provide, Vue } from 'nuxt-property-decorator';
import { throttle } from 'throttle-debounce';
import { Action, State } from 'vuex-class';
import { Audio } from '~/assets/scripts/Audio';
import WeatherInfo from '~/components/Atoms/Weather/Info.vue';
import WeeklyWeather from '~/components/Atoms/Weather/Weekly.vue';

@Component({
  components: {
    WeatherInfo,
    WeeklyWeather
  }
})
export default class extends Vue {
  private audio: Audio;

  @Provide() timeIndex = this.getCurrentTimeIndex();

  @State(({ weather }) => weather.city) city;
  @State(({ weather }) => weather.list) weatherList;

  public mounted(): void {
    this.audio = new Audio('audio/operation.mp3');

    window.addEventListener('keydown', throttle(300, this.onKeyPressed));
  }

  public beforeDestroy(): void {
    this.audio.close();
    window.removeEventListener('keydown', throttle(300, this.onKeyPressed));
  }

  public onKeyPressed({ keyCode }) {
    if (!this.city.name) return;

    // * →：時間を進める
    if (keyCode === 39) {
      const nextTimeIndex = this.timeIndex + 1;

      if (nextTimeIndex <= 39) {
        this.audio.play();
        this.timeIndex = nextTimeIndex;
      }
    }

    // * ←：時間を戻す
    if (keyCode === 37) {
      const nextTimeIndex = this.timeIndex - 1;

      if (nextTimeIndex >= 0) {
        this.audio.play();
        this.timeIndex = nextTimeIndex;
      }
    }

    // * ▷：日を進める
    if (keyCode === 228) {
      const nextTimeIndex = this.timeIndex + 8;

      if (nextTimeIndex <= 39) {
        this.audio.play();
        this.timeIndex = nextTimeIndex;
      }
    }

    // * ◁：日を戻す
    if (keyCode === 227) {
      const nextTimeIndex = this.timeIndex - 8;

      if (nextTimeIndex >= 0) {
        this.audio.play();
        this.timeIndex = nextTimeIndex;
      }
    }

    // * ▶：今日を表示
    if (keyCode === 179) {
      const nextTimeIndex = this.getCurrentTimeIndex();

      if (this.timeIndex !== nextTimeIndex) {
        this.audio.play();
        this.timeIndex = this.getCurrentTimeIndex();
      }
    }
  }

  public getCurrentTimeIndex(): number {
    const currentHours = new Date().getHours();

    if (currentHours <= 0) return 4;
    else if (currentHours <= 3) return 5;
    else if (currentHours <= 6) return 6;
    else if (currentHours <= 9) return 7;
    else if (currentHours <= 12) return 0;
    else if (currentHours <= 15) return 1;
    else if (currentHours <= 18) return 2;
    else if (currentHours <= 21) return 3;
    else return 4;
  }
}
</script>

