<template lang="pug">
  button.button(:type="type" :disabled="disabled" @click="$emit('click')")
    slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component({})
export default class extends Vue {
  @Prop({ default: false }) disabled: boolean;
  @Prop({ default: 'button' }) type: string;
}
</script>


<style lang="stylus" scoped>
  .button
    background: #c7b5a8
    border-radius 42px
    box-shadow: 2px 0 8px rgba(#000, .8)
    color: #352e2b
    font-size 42px
    font-weight bold
    letter-spacing .1em
    padding: .5em 1.8em
    text-indent .2em
    transition: opacity .2s ease, box-shadow .2s ease, width 1s ease

    &:disabled
      box-shadow none
      opacity .2

    &:focus
      box-shadow: 0 0 15px rgba(#c7b5a8, .8)
</style>

