<template lang="pug">
  i.weather {{weather}}
</template>

<script lang="ts">
import { Component, Prop, Provide, Vue, Watch } from 'nuxt-property-decorator';

@Component({})
export default class extends Vue {
  @Prop() icon: string;
  @Provide() weather = this.convertIconCharactor(this.icon);

  convertIconCharactor(icon: string): string {
    switch (icon) {
      case '01d': return 'A';
      case '01n': return 'I';
      case '02d': return 'C';
      case '02n': return 'J';
      case '03d':
      case '03n': return 'P';
      case '04d':
      case '04n': return 'O';
      case '09d':
      case '09n': return 'S';
      case '10d': return 'F';
      case '10n': return 'K';
      case '11d':
      case '11n': return 'U';
      case '13d':
      case '13n': return 'o';
      case '15d':
      case '15n': return 'N';
      default: return 'p';
    }
  }
}
</script>
