<template lang="pug">
  .weather-info
    WeatherIcon.icon(:icon="weather.icon")
    p.description {{weather.description}}
    p.city {{city}}
    p.temperature
      | {{main.temp | temp}}
      i.weather l
    p.date {{date | date}}
</template>

<script lang="ts">
import * as fecha from 'fecha';
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import WeatherIcon from '~/components/Atoms/Weather/Icon.vue';

@Component({
  components: {
    WeatherIcon
  },
  filters: {
    date(value) {
      const d = new Date(value);
      const date = d.getDate();
      const cd = new Date();
      const currentDate = cd.getDate();
      const tomorrowDate = new Date(cd.setDate(currentDate + 1)).getDate();

      if (date === currentDate) return `Today ${fecha.format(d, 'h:mm A')}`;
      if (date === tomorrowDate) return `Tomorrow ${fecha.format(d, 'h:mm A')}`;

      return fecha.format(d, 'MMM. Do h:mm A');
    },
    temp(value) { return Math.round((value - 273.15)) }
  }
})
export default class extends Vue {
  @Prop() city: string;
  @Prop() main: object;
  @Prop() date: string;
  @Prop() weather: object;
}
</script>

<style lang="stylus" scoped>
  .weather-info
    align-items center
    display flex
    flex-direction column
    margin-top 80px

    & > .icon
      font-size 120px

    & > .description
      font-size 50px
      letter-spacing .1em
      margin-top .5em
      text-transform: uppercase

    & > .city
      font-size 32px
      letter-spacing .2em
      margin-top .8em
      opacity .5
      text-transform: uppercase

    & > .temperature
      font-size 240px
      font-weight 100
      margin-top .2em

    & > .date
      font-size 42px
      font-weight 200
      margin-top 32px
</style>
