<template lang="pug">
  ol.weekly-weather
    li.daily-weather(
      v-for="{ dt, dt_txt, main, weather }, i in weatherList"
      v-if="/21:00:00/.test(dt_txt) || i === 39"
      :class="{ '-active': new Date(dt_txt).getDate() === new Date(weatherList[timeIndex].dt_txt).getDate() }"
      :key="dt"
    )
      .weekday {{dt_txt | weekday}}
      WeatherIcon.icon(:icon="weather[0].icon")
      p.temperature
        | {{main.temp | temp}}
        i.weather l
</template>

<script lang="ts">
import * as fecha from 'fecha';
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import WeatherIcon from '~/components/Atoms/Weather/Icon.vue';

@Component({
  components: {
    WeatherIcon
  },
  filters: {
    weekday(value) { return fecha.format(new Date(value), 'ddd') },
    temp(value) { return Math.round(value - 273.15) }
  }
})
export default class extends Vue {
  @Prop() timeIndex: number;
  @Prop() weatherList: object;
}
</script>

<style lang="stylus" scoped>
  .weekly-weather
    bottom 0
    box-sizing border-box
    display flex
    position absolute
    width 100%

  .daily-weather
    align-items center
    display flex
    flex: 1 0
    flex-direction column
    padding: 28px 0

    &.-active
      background #4b5f65

  .weekday
    font-size 28px
    font-weight bold
    text-transform uppercase

  .icon
    font-size 100px
    margin-top 32px

  .temperature
    font-size 32px
    font-weight 200
    margin-top 20px
</style>

