<template lang="pug">
  .splash
    i.weather f
    | Weather Wizard
</template>

<style lang="stylus">
  .splash
    align-items center
    background: #352e2b
    bottom 0
    display flex
    flex-direction column
    font-size 120px
    font-weight 200
    justify-content center
    left 0
    position absolute
    right 0
    top 0
    z-index 1000

    & > .weather
      font-size 240px
      margin-top -120px
</style>
