@font-face
  font-family 'Weather&Time'
  src url('../fonts/Weather&Time.ttf')

body, html
  height 100%
  width 100%

body
  background #352e2b
  color #c7b5a8
  font-family 'Montserrat', sans-serif;

button, input
  background none
  border 0
  color #c7b5a8
  font-family 'Montserrat', sans-serif;
  outline none

input
  &::placeholder
    color: #c7b5a8

i.weather
  font-family 'Weather&Time'
  line-height 1
