<template lang="pug">
  no-ssr
    .container
      transition(name="modal")
        PostalCodeForm(v-if="showPostalCodeForm" @complete="onComplete")
      p.container.-unsupported(v-if="!isFireTV")
        span.icon: i.weather p
        | This device is not supported.
      transition(name="modal")
        Splash(v-if="isShowSplash")
      nuxt
</template>

<script lang="ts">
import { Component, Vue, Provide } from 'nuxt-property-decorator';
import { throttle } from 'throttle-debounce';
import { Action, State } from 'vuex-class';
import { Audio } from '~/assets/scripts/Audio';
import PostalCodeForm from '~/components/Molecules/Form/PostalCode.vue';
import Splash from '~/components/Molecules/Splash.vue';

@Component({
  components: {
    PostalCodeForm,
    Splash
  }
})
export default class extends Vue {
  private audio: Audio;

  @Provide() isFireTV = false;
  @Provide() isShowSplash = true;
  @Provide() showPostalCodeForm = false;
  @Provide() currentDate = 0;
  @State(({ weather }) => weather.postalCode) postalCode;

  @Action('weather/fetchWeather') fetchWeather;

  public beforeMount(): void {
    const postalCode = localStorage.getItem('postal-code');
    if (postalCode) {
      this.fetchWeather(postalCode);
    } else {
      this.showPostalCodeForm = true;
    }

    this.isFireTV = /AmazonWebAppPlatform/.test(window.navigator.userAgent) || location.hash === '#firetv';

    window.addEventListener('keydown', throttle(1000, this.onKeyPressed));
  };

  public mounted(): void {
    this.audio = new Audio('audio/decision.mp3');

    setTimeout(() => {
      this.isShowSplash = false;
    }, 2000);
  }

  public beforeDestroy(): void {
    this.audio.close();
    window.removeEventListener('keydown', throttle(1000, this.onKeyPressed));
  }

  public onComplete(postalCode: string): void {
    localStorage.setItem('postal-code', postalCode);
    this.showPostalCodeForm = false;
  }

  public onKeyPressed({ keyCode, preventDefault }) {
    // * ↓：郵便番号のフォームをトグル
    if (keyCode === 40) {
      if (!this.postalCode) return;

      this.audio.play();
      this.showPostalCodeForm = !this.showPostalCodeForm;
    }
  }
}
</script>

<style lang="stylus">
  .container
    background #352e2b
    bottom 0
    left 0
    position absolute
    right 0
    top 0

    &.-unsupported
      align-items center
      display flex
      font-size 28px
      flex-direction column
      justify-content center
      letter-spacing .1em
      text-indent .1em
      z-index 500

      & > .icon
        display block
        font-size 128px
        margin 30px 0

  .modal-enter-active, .modal-leave-active
    transition: opacity .2s .2s ease

  .modal-enter, .modal-leave-to
    opacity: 0
</style>
